<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{{ BASE_PATH }}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    

    <!--MML_HTMLorMML-full-->
    
    <link href="{{ BASE_PATH }}/public/mycss/index.css" rel="stylesheet">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
</head>
