<!DOCTYPE html>
<html>
	
	{% include header.html %}	

<body>
{% include myheader.html %}
<div class="container">
	<div class="row"> 
	 	<div class="blog-post">
        	<div class="col-sm-8 blog-main">			
            	<div class="blog-post">   
        			{{ content }}
				</div>
			</div>
    		
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">  
			<br/>
			<br/>          	
					{% include rightcolumn.html %}				
			</div>
			<div class="col-sm-11 blog-main">
			<br />
			{% include disqus.html %}
			
			</div>
		</div>
		
	</div>
</div>
	{% include footer.html %}

</body>

</html>
